@using System.Web.Optimization
@using LogisticService.Data.Options
@{
    ViewData["Title"] = "Index";
    
}
@model GoogleMapsOptions


<h1>ScheduleDetails</h1>
<div id="googleMap"></div>
@section Scripts{
    <script src="\js\maps_launch.js"></script>
}
@*@Scripts.Render("~\js\maps_launch")
 
*@

@*@section Scripts{*@
    @*<script src="/js/maps_launch.js"></script>*@
    @if (!string.IsNullOrEmpty(Model.APIKey))
    {
        var connectionString = $"https://maps.googleapis.com/maps/api/js?key={Model.APIKey}&callback=initMap";
        <script  src="@connectionString" async defer></script>
    }
@*}*@

