@using LogisticService.Models
@using Microsoft.AspNetCore.Identity
@model List<WorkCase>
@{
    ViewData["Title"] = "Index";
}


<h1>Deliveries</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Deadline</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var workCase in Model){
            <tr>
            <td></td>
            <td>@workCase.Name</td>
            <td>@workCase.Destination</td>
            <td>@workCase.Deadline</td>
            </tr>
        }
            
    </tbody>
 </table>

<div>@Html.ActionLink("New Delivery", "Create")</div>

